.idea/
cover/
.project
.pydevproject
.pytest.coveragerc
*.class
*.egg-info/
*.egg/
*.pyc
*.swo
*.swp
.tox
.travis-solo/
.build-*/
README.html
__pycache__
build
.coverage
coverage.xml
dist
htmlcov
pep8.py
